* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  background-color: #fefcf7;
}

ul,
ol {
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 20px;
}
.container-3 {
  max-width: 1045px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 20px; */
  /* margin-top: 50px; */
}
.home-page {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.main-nav {
  display: flex;
  gap: 25px;
}
.container-2 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
.home-color {
  background-color: #fefcf7;
  /* background-color: red; */
}
.main-nav a {
  color: #aaacb0;
}
.header-image {
  background-image: url("./image/Bitmap.svg");
}
.header {
  margin-left: 75px;
}
.header-page {
  background-image: url("./image/Bitmap.svg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 600px;
}
.main-header h1 {
  padding-top: 137px;
  margin-left: 86px;
  font-size: 72px;
  color: white;
  max-width: 40%;
}
.main-header p {
  padding-left: 87px;
  color: white;
  max-width: 40%;
  line-height: 27px;
  margin-top: 20px;
}

.button-1 {
  font-size: 16px;
  border-radius: 10px;
  color: white;
  width: 217px;
  height: 56px;
  border: 1px solid #0e8784;
  background-color: #0e8784;
  margin-top: 60px;
  margin-left: 87px;
}
.main-nav :hover a {
  color: red;
}
.main-nav :hover {
  transform: scale(1.1);
}
/* section-1 */
.section-h1 {
  max-width: 100%;
  height: 196px;
}
.section-h1 h1 {
  font-size: 150px;
  color: #e7e7e3;
  max-width: 100%;
}
.section-h1 {
  text-align: center;
  padding: 100px;
}

.espresso-li img {
  width: 255px;
  height: 193px;
}
.main-esspresso {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.espresso-li h2 {
  font-size: 24px;
}
.espresso-li p {
  max-width: 70%;
  margin-left: 40px;
}
.main-benefits-2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 20px; */
  position: relative;
  top: 120px;
}
.benefits-card {
  max-width: 350px;
  padding: 38px;
  height: 382px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  font-size: 16px;
  border-radius: 10px;
  margin: 20px;
  background-color: #0e8784;
  color: #fefcf7;
  margin-top: 25px;
}
.benefits-color {
  background-color: #2c343e;
  border-radius: 10px;
  position: relative;
  max-width: 1280px;
  height: 570px;
}
.benefits-card img {
  margin-left: 80px;

  width: 72px;
  height: 72px;
}
.benefits-card h2 {
  font-size: 24px;
  max-width: 100%;
  padding: 20px;
  margin-left: 30px;
}
.benefits-card p {
  max-width: 80%;
  margin-left: 30px;
  line-height: 26px;
}
.benefits-1 {
  text-align: center;
  /* margin: 20px ; */
  /* margin-top: 20px; */
  padding: 50px;
}
.benefits-1 h2 {
  font-size: 40px;
  line-height: 40px;
  margin: 20px;
  color: #fefcf7;
}
.benefits-1 p {
  max-width: 50%;
  /* margin-left: 280px; */
  margin-left: auto;
  margin-right: auto;
  line-height: 26px;
  color: #fefcf7;
}

.card-image-2 {
  max-width: 350px;
  padding: 38px;
  height: 382px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  font-size: 16px;
  border-radius: 10px;
  margin: 20px;
  background-color: #0e8784;
  color: #fefcf7;
  margin-top: 25px;
}

.second-works {
  max-width: 1045px;
  height: 565px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  /* margin-left: 55px; */
}
.circle {
  width: 31px;
  height: 31px;
  border-radius: 15px;

  border: 2px solid #0e8784;
}
.chiziq {
  width: 400px;
  height: 1px;
  border: 1px solid #fdd6ba;
}
.main-circle {
  display: flex;
  justify-content: start;
  align-items: center;
  /* margin-top: 100px; */
}
.main-content {
  display: flex;
  gap: 80px;
  /* align-items: start; */
  /* justify-content: end; */
  width: 1200px;
  padding: 30px;
}
.content-ul h1 {
  font-size: 72px;
  max-width: 90px;
  color: #fdd6ba;

  margin: 10px;
}
.content-ul h2 {
  font-size: 32px;
  margin-top: 30px;
  max-width: 50%;

  color: #333d4b;
}
.content-ul p {
  font-size: 16px;
  max-width: 80%;
  margin-top: 30px;
  color: #333d4b;
}

.work-h1 h1 {
  color: #83888f;
  font-size: 24px;
  margin-top: 200px;
}
.content-ul-2 {
  display: flex;
  justify-content: space-between;
}
.button-id {
  width: 217px;
  height: 56px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #0e8784;
  background-color: #0e8784;
  color: white;
  margin-top: 50px;
}

.main-footer {
  width: 1280;
  height: 20px;
  margin-top: 150px;
}
.footer-nav-list :hover {
  color: white;
}
.footer-nav-list :hover {
  transform: scale(1.1);
}


.container-4 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #2c343e; */
  /* padding: 65px; */
  height: 120px;
}
.footer-1 {
  background-color: #333d4b;
}
.footer-nav-list,
.footer-media-list {
  display: flex;
  align-items: center;
  gap: 33px;
}

.footer-left-box {
  display: flex;
  align-items: center;
  gap: 103px;
}
.footer-nav-list a {
  color: #83888f;
}
/* about-page */
.about-page {
  background-image: url("./image/Bitmap\ \(2\).png");
  /* background-size: 100px 200px; */
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-top: 20px;
  width: 115vw;
  height: 450px;
}
.about-heading h1 {
  padding-top: 137px;
  padding-left: 85px;
  font-size: 40px;
  color: #fefcf7;
}
.about-heading p {
  /* padding-top: 137px; */
  max-width: 38%;
  padding-left: 85px;
  font-size: 16px;
  color: #fefcf7;
  margin-top: 20px;
  line-height: 26px;
}
.main-service {
  display: flex;
  align-items: center;
  gap: 150px;
}
.service-image img {
  width: 445px;
  height: 520px;
  border-radius: 10px;
}

.service-h1 h2 {
  font-size: 40px;
  line-height: 48px;
  color: #333d4b;
}

.service-h1 p {
  font-size: 16px;
  line-height: 26px;
  max-width: 80%;
  color: #333d4b;
  margin-top: 10px;
}
.container-5 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 120px;
  margin-top: 80px;
}
.main-cofee {
  display: flex;
  background-color: #333d4b;
  max-width: 1280px;
  height: 490px;
  position: relative;
  border-radius: 10px;
}

.image-cofee img {
  width: 445px;
  height: 520px;
  border-radius: 10px;
}
.image-cofee {
  position: absolute;
  bottom: 90px;
  /* left: 500px; */
  right: 60px;
}
.about-cofee h2 {
  font-size: 48px;
  padding-left: 85px;
  padding-top: 80px;
  color: #fefcf7;
}
.about-cofee p {
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;

  margin-left: 85px;
  margin-top: 20px;
}
.main-cofee {
  margin-top: 140px;
}
.about-cofee {
  max-width: 540px;
}
/*mian-cofee  */
.location {
  padding-top: 120px;
  padding-left: 220px;
  max-width: 1045px;
}
.main-map {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.map-ul h3 {
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.map-ul p {
  font-size: 16px;
  line-height: 26px;
}
.contact-page {
  background-image: url("./image/Bitmap\ \(4\).png");
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-top: 20px;
  width: 100vw;
  height: 450px;
}
.contact-heading h1 {
  padding-top: 137px;
  padding-left: 85px;
  font-size: 40px;
  color: #fefcf7;
}
.contact-heading p {
  max-width: 38%;
  padding-left: 85px;
  font-size: 16px;
  color: #fefcf7;
  margin-top: 20px;
  line-height: 26px;
}
.container-10 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
}
.circle-2 {
  width: 31px;
  height: 31px;
  border-radius: 15px;
  border: 2px solid #0e8784;
}
.chiziq-2 {
  width: 400px;
  height: 1px;
  border: 1px solid #fdd6ba;
}
.content-2 {
  display: flex;
  margin-left: 50px;
}
.content-2-color {
  background-color: #2c343e;
  border-radius: 10px;
  height: 500px;
}
.content-23 {
  display: flex;
  justify-content: end;
  margin-left: 20px;
  padding-left: 40px;
}
.ul-content-23 h1 {
  font-size: 72px;
  color: #fdd6ba;
  margin-top: 20px;
}
.ul-content-23 h2 {
  font-size: 32px;
  color: #fefcf7;
}
.ul-content-23 p {
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  max-width: 70%;
  margin-top: 20px;
}
.main-circle-2 {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 60px;
}
.main-type-1 {
  display: flex;
  justify-content: start;
  gap: 220px;
}
.ul-section h3 {
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}
.ul-section-1 h3 {
  font-size: 40px;
  line-height: 48px;
  color: #83888f;
}
